.App{
 
  width: 500px;
  margin: 0 auto;
  border: 1px solid #eee;
  margin-top: 50px;
}
.App-title{
  text-align: center;
}
.header{
  padding: 10px 0 10px 20px;
  display: flex;
  border-bottom: 1px solid #aaa;
  align-items: center;
 
}
.header-img{
  width: 35px;
}
input{
  border: none;
  padding: 0 10px;
  width: 100%;
  outline: none;
  font-size: 20px;
}
.Footer{
  padding-left: 20px;
}